PORT=3001

DATABASE_URL=postgresql://postgres.vznmhkphervavylpbshl:Iranzi%40155abc@aws-1-eu-west-1.pooler.supabase.com:6543/postgres

JWT_SECRET=change-this-in-production
JWT_EXPIRES_IN=24h
CORS_ORIGIN=*

